.loginsignup{
    background-color: #fce3fe;
    padding: 100px;
    width: 85%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.loginsignup-conatiner{
    background-color: white;
    width: 50%;
    height:50vh;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.loginsignup-fields input{
    height: 33px;
    width: 250px;
    padding-left: 15px;
    outline: none;
    color:#5c5c5c;
    border: 1px solid #c9c9c9;
    font-size: 15px;
}

.loginsignup-fields button{
    height: 33px;
    width: 150px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.login-here{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #5c5c5c;
    gap: 10px;
}

.login-here a{
    text-decoration: underline;
}