.shop_category_showing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(110, 72, 22);
}
.sort_item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sort_item img{
    width: 30px;
    height: 30px;
}

.shop_category_products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
}