.banner-container{
    display: flex;
    justify-content:space-around;
    background: linear-gradient(90deg, #d4acac,white 50%);
    align-items: center;
    height: 120px;
}


.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #c94c4c;
}

.banner button{
    cursor: pointer;
    background-color: #c94c4c;
    border: none;
    border-radius: 16px;
    width: 120px;
    height: 30px;
    font-size:15px ;
    font-weight: 500;
}

.banner-img img{
    margin-top: 24px;
    height: 115px;
    width: 120px;
}