.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 5px 5px 5px #acac9f;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight:500;
    color: brown;
    text-shadow: 2px 2px #ffae00;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(18, 19, 16);
}

.nav-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.nav-login-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    background-color: transparent ;
    color: #181614;
    border: 1px solid #adaa9e ;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: #adaaa1;
}

.nav-cart-count{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 10px;
    font-size: 14px;
    background: red;
    color: aliceblue;
    height: 20px;
    width: 20px;
}